head
    title watchT
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    meta(name='author' content='hab')

body
  h1 Watch T
  .container-fluid
    .row
      .col-md-6
        .map-container
          +googleMap(name="vehicleMap" options=mapOptions)
      .col-md-2
        +vehiclesTemplate

template(name='vehiclesTemplate')
  | Vehicles:
  each vehicles
    +vehicleTemplate

template(name='vehicleTemplate')
  .vehicle
    p #{vehicle_id}
    |   
    p #{vehicle_lat}
    |   
    p #{vehicle_lon}
